/* Universal Styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4d4d4d;
}

p {
  line-height: 1.25rem;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

/* Header */

.fixed-header {
  width: 100%;
  display: flex;
  height: 4rem;
  position: fixed;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px #00b3b3;
  z-index: 1;
}

.fixed-header img {
  padding-left: 1.5rem;
  height: 50px;
}

.colmar {
  font-size: 1.25rem;
  font-weight: 700;
}

.academy {
  font-size: 1.25rem;
  flex-grow: 1;
  color: #b3b3b3;
}

.desktop-nav ul {
  display: flex;
  padding-right: 1rem;
}

.desktop-nav li {
  font-size: 1rem;
  padding: 0 0.5rem;
  transition: all 250ms linear;
}

.desktop-nav li:hover {
  text-shadow: 2px 2px 2px #00b3b3;
}

.mobile-header {
  display: none;
}

/* Banner */

.banner {
  display: flex;
  padding-top: 4rem;
  background-color:	#dcdcdc;
  align-items: center;
}

.banner img {
  width: 60%;
  padding: 32px 24px;
}

.banner .text-box h1 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  line-height: 1.25;
}

.banner .text-box p {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  line-height: 1.75rem;
}

.button {
  width: 70%;
  display: block;
  background-color: #808080;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  transition: all 250ms linear;
}

.button:hover {
  background-color: #00b3b3;
  color: #4d4d4d;
  font-weight: bold;
  box-shadow: 2px 2px 2px #808080;
}

/* Information */

.main-div-one {
  display: flex;
  background-color: #f2f2f2;
}

.main-div-one .left img {
  width: 100%;
  height: auto;
}

.left {
  width: 60%;
  padding: 32px 24px;
}

.left h3 {
  font-size: 1.75rem;
  font-weight: 800;
  padding-top: 32px;
  padding-bottom: 24px;
}

.left p {
  padding-bottom: 24px;
  font-size: 0.8rem;
}

.left span {
  font-size: 0.75rem;
}

.right {
  width: 35%;
  padding-top: 16px;
}

.right .text h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.right .text p {
  font-size: 0.75rem;
  padding: 8px 0;
}

.right .text a {
  font-size: 0.8rem;
  color: #0066ff;
  text-decoration: none;
}

.info {
  display: flex;
  opacity: 0.5;
  transition: all 250ms linear;
}

.info:hover {
  background-color: #dcdcdc;
  opacity: 1;
  border-radius: 0 0 40px 0;
  box-shadow: 3px 3px 3px #00b3b3;
}

.info img {
  width: 35%;
  height: 100%;
  padding: 16px;
}

.info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

/* Start learning */

.main-div-two {
  background-color: #c0c0c0;
}

.main-div-two h2 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 2rem;
  font-weight: 800;
}

.start {
  display: flex;
  flex-wrap: wrap;
  padding: 0 56px 16px 56px;
  height: auto;
}

.learn {
  width: 29%;
  height: auto;
  background-color: white;
  margin: 16px;
  opacity: 0.5;
  transition: all 250ms linear;
}

.learn:hover {
  opacity: 1;
  border-radius: 0 0 40px 0;
  box-shadow: 3px 3px 3px #00b3b3;
}

.learn img {
  width: 100%;
  height: auto;
}

.learn h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 16px;
}

.learn h5 {
  font-size: 0.8rem;
  padding: 8px 16px;
}

.learn p {
  font-size: 0.8rem;
  padding-left: 16px;
  padding-bottom: 24px;
}

.start-mobile {
  display: none;
  flex-direction: column;
  background-color: #f2f2f2;
  text-align: left;
}

.learn-mobile {
  margin: 4px;
  transition: all 250ms linear;
}

.learn-mobile h4 {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #dcdcdc;
}

.learn-mobile h4:hover {
  background-color: #c0c0c0;
}

/* Thesis */

.thesis-title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding: 32px 0;
  background-color: #f2f2f2;
}

.main-div-three {
  display: flex;
  background-color: #f2f2f2;
}

.main-div-three h2 {
  text-align: center;
  padding: 32px 0;
}

.thesis-left {
  width: 60%;
  margin: 0 24px;
  padding-bottom: 32px;
}

.thesis-left video {
  width: 100%;
  height: auto;
}

.thesis-left h3 {
  font-size: 1.25rem;
  padding-top: 24px;
  padding-bottom: 8px;
  font-weight: bold;
}

.thesis-left p {
  font-size: 0.8rem;
}

.thesis-right {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.thesis-right img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.thesis-right .text {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.thesis-right .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.5;
  transition: all 250ms linear;
}

.thesis-right .box:hover {
  background-color: #dcdcdc;
  opacity: 1;
  border-radius: 0 0 40px 0;
  box-shadow: 3px 3px 3px #00b3b3;
}

.thesis-right .text h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.thesis-right .text p {
  padding: 8px 0;
}

/* Footer */

footer {
  display: flex;
  background-color: #f2f2f2;
  border-top: 1px solid grey;
  height: 80px;
}

footer p {
  flex-grow: 1;
  font-size: 0.75rem;
  padding-left: 24px;
  padding-top: 16px;
}

footer ul {
  display: flex;
}

footer ul li {
  font-size: 0.75rem;
  padding: 16px 5px;
}

@media only screen and (max-width: 1000px) {
  .banner {
    flex-direction: column;
  }
  .banner img {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .banner .text-box h1 {
    font-size: 1.75rem;
  }
  .banner .text-box p {
    font-size: 1rem;
  }
  .banner .text-box {
    margin: 32px 16px;
  }
  .button {
    margin-bottom: 2rem;
  }
  .left h3 {
    font-size: 1.25rem;
  }
  .right, .thesis-right {
    margin-right: 1rem;
  }
  .right .text h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .learn {
    width: 45%;
  }
}

@media only screen and (max-width: 740px) {
  .fixed-header {
    display: none;
  }
  .mobile-header {
    width: 100%;
    display: flex;
    height: 4rem;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 10px #00b3b3;
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
  .mobile-header nav {
    flex-grow: 1;
  }
  .mobile-header nav ul {
    display: flex;
  }
  .mobile-header nav ul li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-header img {
    height: 40px;
  }
  .main-div-one, .main-div-three {
    flex-direction: column;
  }
  .left, .thesis-left {
    width: 90%;
    margin: 0 auto;
  }
  .right, .thesis-right {
    width: 90%;
    margin-bottom: 1rem;
  }
  .learn {
    width: 90%;
  }
  .right .text h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .banner .text-box {
    width: 100%;
    text-align: center;
    padding-right: 4px;
  }
  .button {
    width: 95%;
    padding: 8px 6px;
  }
  .left, .thesis-left h3, .thesis-left p, .thesis-right {
    display: none;
  }
  .right {
    width: 100%;
  }
  .info {
    flex-direction: column;
    margin: 1rem;
  }
  .info img {
    width: 80%;
  }
  .info .text {
    width: 90%;
    padding: 0 0 1rem 1rem;
  }
  .start {
    display: none;
  }
  .start-mobile {
    display: flex;
  }
  .main-div-two {
    background-color: #f2f2f2;
  }
  .main-div-two h2 {
    background-color: #f2f2f2;
  }
  footer p {
    padding: 1rem 0;
    margin-top: 1.5rem;
  }
  footer ul {
    display: none;
  }
}
