/* Universal Styles */

body {
  width: 1024px;
  margin: 0 auto;
}

.container {
  /* width: 1024px; */
}

/* Header */

.fixed-header {
  width: 1024px;
  display: flex;
  height: 64px;
  position: fixed;
  align-items: center;
  background-color: white;
}

.fixed-header img {
  padding-left: 24px;
  height: 50px;
}

.colmar {

}

.academy {
  flex-grow: 1;
}

.desktop-nav ul {
  display: flex;
  padding-right: 16px;
}

.desktop-nav li {
  padding: 0 8px;
}

/* Banner */

.banner {
  display: flex;
  padding-top: 64px;
  background-color:	#c0c0c0;
  align-items: center;
}

.banner img {
  width: 60%;
  padding: 32px 24px;
}

.banner .text-box {

}

/* Information */

.information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 570px;
}

.information .left img {
  width: 100%;
  height: auto;
  /* border-right: 1px solid #c0c0c0; */
}

.left {
  width: 60%;
  padding: 32px 24px;
  /* border-right: 1px solid #c0c0c0; */
}

.left h2 {
  padding-bottom: 24px;
}

.left p {
  padding-bottom: 24px;
}

.right {
  width: 35%;
  padding-top: 16px;
}

.info {
  display: flex;
}

.info:hover {
  background-color: grey;    /*Change color*/
}

.info img {
  width: 35%;
  height: 100%;
  padding: 16px;
}

.info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

/* Start learning */

.start-learning {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
}

.start-learning h3 {
  text-align: center;
  padding: 32px 0;
}

.start {
  display: flex;
  padding: 0 72px 32px 72px;
}

.learn {
  background-color: white;
  margin-right: 32px;
}

.learn img {
  width: 100%;
  height: auto;
}

/* Thesis */

.thesis-title {
  text-align: center;
  padding: 32px 0;
}

.thesis {
  display: flex;
}

.thesis h3 {
  text-align: center;
  padding: 32px 0;
}

.thesis-left {
  width: 60%;
  margin: 0 24px;
  padding-bottom: 32px;
}

.thesis-left video {
  width: 100%;
  height: auto;
}

.thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-right img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.thesis-right .text {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.thesis-right .box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.thesis-right .box:hover {
  background-color: grey;      /*Change color*/
}

/* Footer */

footer {
  display: flex;
  border-top: 1px solid grey;
  height: 64px;
}

footer p {
  flex-grow: 1;
  padding-left: 24px;
  padding-top: 16px;
}

footer ul {
  display: flex;
}

footer ul li {
  padding: 16px 5px;
}
