/* Universal Styles */

body {
  width: 1024px;
  margin: 0 auto;
}

.container {
  width: 1024px;
}

/* Header */

.fixed-header {
  display: flex;
  height: 64px;
  position: fixed;
  align-items: center;
  background-color: white;
  /* border: 1px solid black; */
}

.fixed-header img {
  padding-left: 24px;
  height: 50px;
}

.colmar {

}

.academy {
  flex-grow: 1;
}

.desktop-nav ul {
  display: flex;
  padding-right: 16px;
}

.desktop-nav li {
  padding: 0 8px;
}

/* Banner */

.banner {
  display: flex;
  padding-top: 64px;
  background-color:	#c0c0c0;
  align-items: center;
}

.banner img {
  width: 60%;
  padding: 32px 24px;
}

.banner .text-box {

}

/* Information */

.information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 570px;
}

.information img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
  /* border-right: 1px solid #c0c0c0; */
}

.left {
  width: 60%;
  padding: 0 24px;
  /* border-right: 1px solid #c0c0c0; */
}

.left h2 {
  padding-bottom: 24px;
}

.left p {
  padding-bottom: 24px;
}

.right {
  width: 35%;
}

.info {
  display: flex;
}

.info img {
  width: 35%;
  height: 100%;
  padding-top: 32px;
}

.info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

/* Start learning */

.start-learning {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
}

.start-learning h3 {
  text-align: center;
  padding: 32px 0;
}

.start {
  display: flex;
  padding: 0 72px 32px 72px;
}

.learn {
  background-color: white;
  margin-right: 32px;
}

.learn img {
  width: 100%;
  height: auto;
}

/* Thesis */

.thesis-title {
  text-align: center;
  padding: 32px 0;
}

.thesis {
  display: flex;
}

.thesis h3 {
  text-align: center;
  padding: 32px 0;
}

.thesis-left {
  width: 60%;
  margin-left: 24px;
  padding-bottom: 32px;
}

.thesis-left video {
  width: 100%;
  height: auto;
  padding: 0 24px 24px 0;
}

.thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-right img {
  width: 35%;
  height: auto;
}

.thesis-right .text {
  display: flex;
  flex-direction: column;
}
